@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 1;
	background-repeat: no-repeat;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 251, 0.723) 0%,
		rgba(96, 0, 111, 0.692) 80%
	);
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.col-12 {
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	border: none;
	padding: 50px 20x 10px 20px;
	margin: 20px 0px 10px 0px;
	font-family: "Roboto", sans-serif;
}

.forcast {
	background-color: rgb(227, 227, 227);
	flex: 1;
	padding: 20px;
	margin: 10px;
	float: left;
	border-radius: 5px;
	background-color: rgb(219, 219, 219);
}

.col-10 {
	margin: 0px;
}

li {
	color: rgb(59, 59, 59);
	font-size: 15px;
	list-style-type: none;
	text-align: center;
	padding: 10px;
	margin: 5px;
	background-color: rgb(159, 166, 246);
	cursor: pointer;
	text-transform: capitalize;
}

#history {
	background-color: rgb(255, 255, 255);
	padding: 10px;
	border-radius: 5px;
	font-family: "Roboto", sans-serif;
}

.resultsLine {
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	margin: 0px;
}

.col-2 {
	background-color: #eee;
	margin: 10px 0px 10px 0px;
	border-radius: 5px;
	padding: 20px;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
}

#welcome {
	margin: 20px;
}

.col-md-3 {
	margin: 20px 0px 60px 0px;
	padding: 20px;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	box-shadow: 2.5px 5px 4px #000000;
}

@media only screen and (max-width: 500px) {
	.col-md-3 {
		margin: 20px 20px 0px 20px;
	}
}

#welcome {
	padding: 120px 20px 200px 60px;
	align-items: center;
	text-align: center;
}

@media only screen and (max-width: 500px) {
	.welcome {
		align-items: center;
		margin: 0px;
		padding: 0px;
	}
}

.search-header {
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	padding: 20px;
	text-align: center;
}

footer {
	width: 100%;
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 10px;
}

.todayForecast {
	box-shadow: 2.5px 5px 4px #000000;
}

.fiveDayForecast {
	box-shadow: 2.5px 5px 4px #000000;
}

.jumbotron {
	text-align: center;
	align-items: center;
	padding: 10px;
	background-color: #ffff;
	border-radius: 0px;
	font-family: "Roboto", sans-serif;
}

.btn {
	background-color: #0f28c9;
	color: #fffefe;
	text-decoration: none;
	cursor: pointer;
	align-items: center;
	font-size: 12px;
	position: relative;
	flex-wrap: wrap;
	border: none;
}


.title {
	font-size: 40px;
	color: rgb(84, 84, 84);
	background-color: rgba(238, 238, 238, 0.488);

}