@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 1;
	background-repeat: no-repeat;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 251, 0.723) 0%,
		rgba(96, 0, 111, 0.692) 80%
	);
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #ffffff93;
}

#todayForecastContainer {
	border-radius: 5px;
	background-color: #00000051;
	border: none;
	padding: 20px;
	margin: 20px 0px 20px 0px;
	font-family: "Roboto", sans-serif;
	box-shadow: 2.5px 5px 4px #000000;
	color: #ffffffbd;
}

.errorContainer {
	border-radius: 5px;
	background-color: #00000051;
	border: none;
	padding: 100px;
	margin: 20px 0px 0px 0px;
	font-family: "Roboto", sans-serif;
	box-shadow: 2.5px 5px 4px #000000;
	color: #ffffffbd;
}

.welcomeContainer {
	border-radius: 5px;
	background-color: #00000051;
	border: none;
	padding: 200px;
	margin: 20px 0px 0px 0px;
	font-family: "Roboto", sans-serif;
	box-shadow: 2.5px 5px 4px #000000;
	color: #ffffffbd;
}

.forcast {
	align-items: center;
	background-color: rgb(227, 227, 227);
	flex: 1;
	padding: 20px;
	margin: 5px;
	float: left;
	border-radius: 5px;
	background-color: #ffffff69;
}

#row {
	align-items: center ;
	text-align: center!important;
}

.col-10 {
	margin: 0px;
}

li {
	color: rgb(38, 38, 38);
	background-color: #ffffffa3;
	font-size: 15px;
	list-style-type: none;
	text-align: center;
	align-items: center;
	padding: 5px;
	margin: 10px;
	cursor: pointer;
	text-transform: capitalize;
	font-family: "Roboto", sans-serif;
}

#historyBox {
	align-items: center;
	font-family: "Roboto", sans-serif;
	text-align: center;
}

.resultsLine {
	font-size: 30px;
	font-family: "Roboto", sans-serif;
	margin: 0px;
}

#searchBar {
	margin: 20px 0px 0px 0px;
	padding: 20px;
	background-color: #00000051;
	border-radius: 5px;
	box-shadow: 2.5px 5px 4px #000000;
	align-items: center;
	text-align: center;
	color: #ffffffbd;

}

@media only screen and (max-width: 500px) {
	#searchBar {
		margin: 20px 15px 0px 15px;
	}
}

.welcomeContainer {
	padding: 120px 0px 160px 0px;
	align-items: center;
	text-align: center;
}

@media only screen and (max-width: 500px) {
	.welcomeContainer {
		align-items: center;
		padding: 40px;
	}
}

.fiveDayForecast {
	box-shadow: 2.5px 5px 4px #000000;
}

.jumbotron {
	text-align: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.187);
	margin: 0px;
	padding: 15px;
	border-radius: 0px;
	font-family: "Rajdhani", sans-serif;
}

.clearHistoryButton {
	background-color: #0f28c9;
	color: #fffefe;
	text-decoration: none;
	cursor: pointer;
	align-items: center;
	font-size: 12px;
	position: relative;
	flex-wrap: wrap;
	border: none;
}

.wrapper {
	margin-right: auto;
	margin-left: auto;

	max-width: 960px;

	padding-right: 10px;
	padding-left: 10px;
}

.uv {
	background-color: rgb(255, 0, 0);
	padding: 5px;
	color: rgba(255, 255, 255, 0.933);
}

.fahrenheit,
p {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 100;
	color: #ffffff93;
}

.temp,
#tempDisplay {
	margin-top: 10px;
	color: #ffffff93;
	font-size: 40px;
	font-weight: 100;
	text-align: right;
	align-items: center;
}

.DisplayWeathercontainer {
	align-items: center;
}

.col-sm {
	padding: 10px;
	font-weight: 100;
}

#temperature {
	font-size: 100px;
	font-weight: 100;
	font-family: "Roboto", sans-serif;

}

.btn {
	background-color: #0353b5;
	border: none;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
	position: relative;
	flex-wrap: wrap;
}

.form-control {
	display: block;
	width: 100%;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding: 0px;
}

.messageCity {
	font-size: 20px;
}

.imgHeader {
	position: absolute;
	z-index: 4;
	top: 60px;
	left: 30px;
}

@media only screen and (max-width: 500px) {
	.imgHeader {
		position: absolute;
		z-index: 4;
		top: 40px;
		left: 45px;
		width: 150px;

	}
}

@media only screen and (max-width: 1850px) {
	.imgHeader {
		width: 120px;
		position: absolute;
		z-index: 4;
		top: 70px;
		left: 60px;
	}
}

a {
	font-size: 40px;
	color: rgb(57, 57, 57);
	font-family: "Rajdhani", sans-serif;
}

#greeting {
	font-size: 20px;
	font-family: "Rajdhani", sans-serif;
}

#DigitalCLOCK {
	font-size: 15px;
}

h6 {
	font-size: 10px;
}

.footer,
a {
	width: 100%;
	text-align: center;
	font-size: 10px;
	margin-top: 90px;
	color: #eee;
}

.navbar-brand {
	font-size: 60px;
	color:#ffffffbd;

	font-family: "Rajdhani", sans-serif;
}
@media only screen and (max-width: 1850px) {
	.navbar-brand {
		font-size: 45px;
		text-align: center;
		align-items: center;
	}
}
.navbar-brand:hover {
	color: #07008a;
	text-decoration: underline;
}

.row.display-flex {
	display: flex;
	flex-wrap: wrap;
  }
  .row.display-flex > [class*='col-'] {
	display: flex;
	flex-direction: column;
  }